ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	/*transition: 1s;*/
}
ul li img{
	vertical-align: middle;
}
#imgX li{
	float: left;
}
section{
	width: 300px;
	height: 300px;
	margin: 200px auto;
	box-shadow: 0 0 20px #000000;
	position: relative;
	overflow: hidden;
}
#imgX{
	width: 2100px;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 2;
}
#imgY{
	position: absolute;
	top: -300px;
	left: 0;
	z-index: 1;
}
