section{
	width: 400px;
	height: 500px;
	box-shadow: 0 0 10px #000000;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	background: #fffcf4;
}
#text{
	width: 350px;
	padding: 20px;
	font: 16px/26px "微软雅黑";
	position: absolute;
	top: 0;
	left: 0;
}
#text h2{
	text-align: center;
}
#text p{
	text-indent: 2em;
}
#scrollBar{
	width: 20px;
	height: 500px;
	float: right;
	position: relative;
	background: #EEEEEE;
	cursor: pointer;
}
#slider{
	width: 20px;
	height: 60px;
	background: #bfbfbf;
	position: absolute;
	top: 26px;
	cursor: pointer;
	
}
#slider:hover{
	background: #a6a6a6;
}
#scrollBar span{
	color: #a3a3a3;
	cursor: pointer;
}
#scrollBar span:hover{
	background: #787878;
	color: #FFFFFF;
}
#downArrow{
	position: absolute;
	bottom: 0;
}
