section{
	width: 400px;
	height: 500px;
	box-shadow: 0 0 10px #000000;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	background: #fffcf4;
}
#text{
	width: 350px;
	padding: 20px;
	font: 16px/26px "微软雅黑";
	position: absolute;
	top: 0;
	left: 0;
}
#text h2{
	text-align: center;
}
#text p{
	text-indent: 2em;
}
#scrollBar{
	width: 20px;
	height: 500px;
	float: right;
	position: relative;
	background: #eee8d5;
	cursor: pointer;
}
#sliderBox{
	width: 20px;
	height: 448px;
	margin-top: 26px;
}
#slider{
	width: 20px;
	height: 60px;
	background: #ddd6c1;
	position: absolute;
	top: 26px;
	cursor: pointer;
}
#slider:hover,#scrollBar .active{
	background: #8c8364;
}
#scrollBar span{
	color: #8c8364;
	cursor: pointer;
}
#scrollBar span:hover{
	background: #8c8364;
	color: #ddd6c1;
}
#upArrow{
	position: absolute;
	top: 0;
}
#downArrow{
	position: absolute;
	bottom: 0;
}
