#box{
	width: 100px;
	height: 100px;
	background: #DDDDDD;
	box-shadow: 5px 5px 10px #666666;
	border-radius: 10px;
	position: absolute;
	top: 40%;
	left: 45%;
}
#box div{
	width: 10px;
	height: 10px;
	position: absolute;
	/*background: black;*/
	border: 10px solid yellow;
	border-radius: 50%;
}
#box .left{
	top: 20px;
	left: 10px;
	/*width: 20px;
	height: 20px;
	border-width: 5px;*/
}
#box .right{
	top: 20px;
	right: 10px;
}
#box .bottom{
	width: 20px;
	bottom: 10px;
	left: 30px;
	border-bottom: none;
}